
body{
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
 body {
   
overflow-x: hidden;
  }
}
.about-title{
font-Weight: 900;
font-size: 36px;
Line-height: 48px;
font-style: normal;
color: hsla(238, 70%, 27%, 1);

}
.about-sub{
font-family:  Lato;
font-Weight: 600;
font-Style: normal;
font-Size: 16px;
Line-height: 25.6px;
color: hsla(234, 25%, 63%, 1);
}
.ceo{
  /* background: #2B3CAB; */
  border-left: 10px solid #2B3CAB;
  border-bottom: 10px solid #2B3CAB;
  border-radius: 6px;
}

@media only screen and (max-width: 768px) {
  .ceo {
    width: 100%;
   
  }
}
.three{
font-family: Roboto;
font-Weight: 900;
font-Style: normal;
margin-top: 15%;
padding-top: 10%;
font-Size: 42px;
Line-height: 25.6px;
color: hsla(0, 0%, 0%, 1);

}
.carda{
  border: 1px solid #eee;
  box-shadow: 0px 0px 25px 10px #F6F4FD;
 width: 100%;
 /* height: 50%; */
}

@media only screen and (max-width: 768px) {
  .card {
   height: 100%;
   margin-bottom: 1%;
   
  }
}
.four{
 color: hsla(238, 70%, 27%, 1);
  font-size: 22px;
  line-height: 25.78px;
}
#bup{
  background: hsla(240, 100%, 99%, 1);
  margin-top: 10%;
  width: 100%;
  height: 100vh;

}
.foura{
  text-align: center;
  color: hsla(238, 70%, 27%, 1);
  font-size: 22px;
  line-height: 25.78px;
}
.twob{
  font-family:  Lato;
  font-Weight: 600;
  font-Style: normal;
  font-Size: 16px;
  Line-height: 25.6px;
  color: hsla(234, 25%, 63%, 1); 
  text-align: center;
  padding: 1% 30%;
}

#carouselx{
  margin-left: 18%;
}
.carousel-inner{
  margin-left: 43%;
}

@media only screen and (max-width: 768px) {
  .carousel-inner {
  /* position: relative; */
   margin-right: 25%;
   margin-left: 22%;
  }
}

#carousal,.carousel-indicators,button{
  color: hsla(318, 94%, 60%, 1);
}
.icon{
  /* width: 30%; */
 margin-top: 25%;
  margin-left: 35%;
}