
.car{
  border: 1px solid #eee;
  box-shadow: 0px 0px 25px 10px #F6F4FD;
  Width :270px;
  Height: 280px ;
  background-color: #EBF4F3;
}

/* 
@media only screen and (max-width: 768px) {
  .car {
   margin-bottom: 20%;
  }
} */
.card-img-top{
  width: 90%;
}
.carousel-indicators{
  margin-left: -8%;

}
.grid-box:hover .cart-icon{
  display: flex;
}
.cart-icon{
  display: none;
  flex-direction: column;
  position: relative;
  top: -80px;
}